<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/globals.css" />
    <link rel="stylesheet" href="../assets/css/styleguide.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
      <div class="homepage">
        <div class="platform-desktop">
          <header class="header">
            <div class="block"><img class="logo-header" src="../assets/img/lb.png" /></div>
            <div class="navigation-pill-list">
              <div class="navigation-pill"><div class="pill-title">Service</div></div>
              <div class="navigation-pill"><div class="pill-title">Hilfe</div></div>
              <div class="navigation-pill"><div class="pill-title">Preise</div></div>
              <div class="navigation-pill"><div class="pill-title">Kontakt</div></div>
            </div>
            <div class="navigation-auth">
              <button class="button text-wrapper">Anmelden</button>
              <button class="button-1 text-wrapper">Registrieren</button>
            </div>
          </header>
          <div class="hero">
            <div class="div">
              <div class="title">LagerBuddy</div>
              <div class="subtitle">Grenzenloser Stauraum auf Abruf</div>
            </div>
            <div class="button-group">
              <button class="button text-wrapper">Anmelden</button>
              <button class="button-2 text-wrapper-1">Mehr Erfahren</button>
            </div>
          </div>
          <div class="quick-how-to">
            <div class="div heading">Wie LagerBuddy funktioniert</div>
            <div class="cards">
              <div class="card">
                <div class="image">
                  <img src="../assets/img/image.svg" />
                </div>
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Abholen</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="../assets/img/image-1.svg" />
                </div>
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Lagern</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="image">
                  <img src="../assets/img/image-2.svg" />
                </div>
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Ausliefern</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button class="button-2 text-wrapper-1">Mehr Erfahren</button>
          </div>
          <div class="service-availability">
            <div class="div">
              <div class="heading">Verfügbarkeit prüfen</div>
              <p class="subheading">Derzeit bieten wir unseren Service ausschliesslich in der Bodenseeregion an</p>
            </div>
            <img class="image-2" src="../assets/img/image-37.png" />
            <div class="search">
              <div class="input text-search">Meine Postleitzahl</div>
              <button class="button-2 text-wrapper-1">Absenden</button>
            </div>
          </div>
          <div class="technology-first">
            <div class="image-3">
              <img src="../assets/img/image-4.svg" />
            </div>
            <div class="text-content-flow">
              <div class="div-2">
                <p class="text-wrapper-2">Geringe Kosten und schneller Zugriff</p>
                <p class="text-wrapper-3">Unsere Technologie macht den Unterschied</p>
              </div>
              <div class="div-wrapper-2">
                <p class="text">
                  Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page
                  might look:
                </p>
              </div>
              <div class="div-wrapper-2">
                <p class="text">
                  Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite
                  perfect nostrud nisi intricate Content. Qui&nbsp;&nbsp;international first-class nulla ut. Punctual
                  adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian
                  impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe
                  aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy
                  perfect consectetur.
                </p>
              </div>
            </div>
          </div>
          <div class="quick-faq">
            <div class="text-content-heading">
              <div class="text-wrapper-2">Heading</div>
              <div class="text-wrapper-3">Subheading</div>
            </div>
            <div class="cards-2">
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-2">
                <img class="help-circle" src="../assets/img/help-circle-1.svg" />
                <div class="body">
                  <div class="div-2">
                    <div class="text-wrapper-2">Title</div>
                    <p class="p">
                      Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a
                      very very short story.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <img class="logo-footer" src="../assets/img/title.svg" />
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="div-wrapper-2"><div class="text-strong">Use cases</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">UI design</div></div>
              <div class="text-link-list-item"><div class="list-item">UX design</div></div>
              <div class="text-link-list-item"><div class="list-item">Wireframing</div></div>
              <div class="text-link-list-item"><div class="list-item">Diagramming</div></div>
              <div class="text-link-list-item"><div class="list-item">Brainstorming</div></div>
              <div class="text-link-list-item"><div class="list-item">Online whiteboard</div></div>
              <div class="text-link-list-item"><div class="list-item">Team collaboration</div></div>
            </div>
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="div-wrapper-2"><div class="text-strong">Explore</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">Design</div></div>
              <div class="text-link-list-item"><div class="list-item">Prototyping</div></div>
              <div class="text-link-list-item"><div class="list-item">Development features</div></div>
              <div class="text-link-list-item"><div class="list-item">Design systems</div></div>
              <div class="text-link-list-item"><div class="list-item">Collaboration features</div></div>
              <div class="text-link-list-item"><div class="list-item">Design process</div></div>
              <div class="text-link-list-item"><div class="list-item">FigJam</div></div>
            </div>
            <div class="text-link-list">
              <div class="text-strong-wrapper">
                <div class="div-wrapper-2"><div class="text-strong">Resources</div></div>
              </div>
              <div class="text-link-list-item"><div class="list-item">Blog</div></div>
              <div class="text-link-list-item"><div class="list-item">Best practices</div></div>
              <div class="text-link-list-item"><div class="list-item">Colors</div></div>
              <div class="text-link-list-item"><div class="list-item">Color wheel</div></div>
              <div class="text-link-list-item"><div class="list-item">Support</div></div>
              <div class="text-link-list-item"><div class="list-item">Developers</div></div>
              <div class="text-link-list-item"><div class="list-item">Resource library</div></div>
            </div>
          </footer>
        </div>
      </div>
  </body>
</html>
