{{- define "main" -}}
  {{ $cardsHowTo := (sort ((.Site.GetPage "/quick-how-to").Resources.Match "quick_how_to_card*") ".Name" "asc") }}
  {{ $cardsFaq := (sort ((.Site.GetPage "/quick-faq").Resources.Match "faq*") ".Name" "asc") }}
  {{- $quickHowTo := .Site.GetPage "/quick-how-to" }}
  {{- $serviceAvailability := .Site.GetPage "/service-availability" }}
  {{- $technologyFirst := .Site.GetPage "/technology-first" }}
  {{- $quickFaq := .Site.GetPage "/quick-faq" }}

  {{- /* partial "card_grid_images.html" (dict "title" (index $allPages 0).Title "cards" (last (sub (len $allPages) 1) $allPages)) */ -}}
  {{- partial "card_grid_images.html" (dict "title" $quickHowTo.Title "cards" $cardsHowTo) -}}
  {{- partial "service_availability.html" (dict "title" $serviceAvailability.Title "subtitle" $serviceAvailability.Params.subtitle "img" (resources.Get ($serviceAvailability.Params.featured_image)).RelPermalink)  -}}
  {{- partial "content_panel_right.html" (dict "title" $technologyFirst.Title "subtitle" $technologyFirst.Params.subtitle "content" $technologyFirst.Content "img" (resources.Get ($technologyFirst.Params.featured_image)).RelPermalink) -}}
  {{- partial "card_grid_icons.html" (dict "title" $quickFaq.Title "subtitle" $quickFaq.Params.subtitle "cards" $cardsFaq) -}}
{{- end }}