<div class="accordion-panel">
    <div class="div">
        <div class="heading">{{ .title }}</div>
        {{- if not (eq .subtitle "") -}}
        <div class="subheading">{{ .subtitle }}</div>
        {{- end -}}
    </div>
    <div class="accordion-long">
        {{- range .cards -}}
        <div class="accordion-item">
            <div class="accordion-title">
                <div class="text-wrapper">{{ .Title }}</div>
                <span class="material-symbols-outlined">
                    expand_circle_down
                </span>
            </div>
            <div class="accordion-content text" style="display: none">
                {{ .Content }}
            </div>
        </div>
        {{- end -}}
    </div>
</div>