<div class="cards-panel-2">
    <div class="div">
        <div class="heading">{{ .title }}</div>
    {{- if not (eq .subtitle "") -}}
        <div class="subheading">{{ .subtitle }}</div>
    {{- end -}}
    </div>
    <div class="cards-2">
        {{- range .cards -}}
        <div class="card">
            <div class="body">
                <div class="div-2">
                    <div class="text-wrapper-2">{{ .Title }}</div>
                    <div class="text-price">
                        <div class="price">
                            <div class="title-price">{{- .Params.price -}}</div>
                            <div class="title-price">{{- .Params.currency -}}</div>
                        </div>
                        <div class="text-small">/ Monat</div>
                    </div>
                    <div class="card-paragraph">
                        {{- .Content -}}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{- if (eq .showButton true) -}}
    <button class="button-2 text-wrapper-1">Registrieren</button>
    {{- end -}}
</div>