<div class="quick-faq">
    <div class="div">
        <div class="heading">{{ .title }}</div>
    {{- if not (eq .subtitle "") -}}
        <div class="subheading">{{ .subtitle }}</div>
    {{- end -}}
    </div>
    <div class="cards-2">
        {{- range .cards -}}
        <div class="card-2">
            {{- $imageName := .Param "featured_image" -}}
            {{- with resources.Get $imageName -}}
            <img class="help-circle" src={{- .RelPermalink -}}/>
            {{- end -}}
            <div class="body">
                <div class="div-2">
                    <div class="text-wrapper-2">{{ .Title }}</div>
                    <p class="card-paragraph">
                        {{- .RawContent -}}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
</div>