<div class="content-panel">
    {{- if (eq .imagePosition "left") -}}
    <div class="image-3">
        <img src={{- .img -}} />
    </div>
    {{- end -}}
    <div class="text-content-flow">
        <div class="div-2">
            <div class="text-wrapper-2">{{ .title }}</div>
            <div class="text-wrapper-3">{{ .subtitle }}</div>
        </div>
        <div class="div-wrapper-2">
            <div class="text">
                {{ .content}}
            </div>
        </div>
    </div>
    {{- if (eq .imagePosition "right") -}}
    <div class="image-3">
        <img src={{- .img -}} />
    </div>
    {{- end -}}
</div>