<footer class="footer">
  {{- with .Site.Params.logo_mono -}}
  <img class="logo-footer" src="{{ relURL . }}" />
  {{- end -}}
  {{- range .Site.Menus.footer -}}
  <div class="text-link-list">
    <div class="text-strong-wrapper">
      <div class="div-wrapper-2">
        <div class="text-strong">{{ .Name }}</div>
      </div>
    </div>
    {{- range .Children -}}
    <div class="text-link-list-item">
      <a class="list-item" href=" {{- .PageRef -}}"> {{ .Name }} </a>
    </div>
    {{- end -}}
  </div>
  {{- end -}}
</footer>