<header class="header">
    {{- $homepageUrl := .Site.Home.RelPermalink -}}
    {{- with .Site.Params.logo -}}
    <div class="block"><a href="{{- $homepageUrl -}}"><img class="logo-header" src="{{- relURL . -}}" /></a>
    </div>
    {{- end -}}
    <div class="navigation-pill-list">
        {{- range .Site.Menus.header -}}
        <div class="navigation-pill">
            <a class="pill-title" href="{{ .URL }}">{{ .Name }}</a>
        </div>
        {{- end -}}
    </div>
    <div class="navigation-auth">
        <button class="button text-wrapper">Anmelden</button>
        <button class="button-1 text-wrapper">Registrieren</button>
    </div>
</header>


<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->