<header class="header">
    {{- with .Site.Params.logo -}}
    <div class="block"><img class="logo-header" src="{{ relURL . }}" /></div>
    {{- end -}}
    <div class="navigation-pill-list">
        {{- range .Site.Menus.header -}}
        <div class="navigation-pill">
            <div class="pill-title">{{ .Name }}</div>
        </div>
        {{- end -}}
    </div>
    <div class="navigation-auth">
        <button class="button text-wrapper">Anmelden</button>
        <button class="button-1 text-wrapper">Registrieren</button>
    </div>
</header>


<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->