/* Color Primitives */
:root {
  /* Value */
  /* color */
  --black-100: #0c0c0d0d;
  --black-1000: #0c0c0d;
  --black-200: #0c0c0d1a;
  --black-300: #0c0c0d33;
  --black-400: #0c0c0d66;
  --black-500: #0c0c0db2;
  --black-600: #0c0c0dcc;
  --black-700: #0c0c0dd9;
  --black-800: #0c0c0de5;
  --black-900: #0c0c0df2;
  --brand-100: #f5f5f5;
  --brand-1000: #111111;
  --brand-200: #e6e6e6;
  --brand-300: #d9d9d9;
  --brand-400: #b3b3b3;
  --brand-500: #757575;
  --brand-600: #444444;
  --brand-700: #383838;
  --brand-800: #2c2c2c;
  --brand-900: #1e1e1e;
  --brand-background: #e7deff;
  --brand-on-background: #1d1a26;
  --brand-on-primary: #ffffff;
  --brand-on-primary-container: #ffffff;
  --brand-on-secondary: #ffffff;
  --brand-on-secondary-container: #00570e;
  --brand-on-surface: #1d1a26;
  --brand-on-surface-variant: #494457;
  --brand-outline: #7a7489;
  --brand-outline-variant: #cac3da;
  --brand-primary: #3b009a;
  --brand-primary-container: #7038ff;
  --brand-secondary: #66ff66;
  --brand-secondary-container: #66ff66;
  --brand-surface: #fdf7ff;
  --brand-surface-tint: #ffffff;
  --brand-surface-variant: #e7dff7;
  --gray-100: #f5f5f5;
  --gray-1000: #111111;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #b3b3b3;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2c2c2c;
  --gray-900: #1e1e1e;
  --green-100: #ebffee;
  --green-1000: #062d1b;
  --green-200: #cff7d3;
  --green-300: #aff4c6;
  --green-400: #85e0a3;
  --green-500: #14ae5c;
  --green-600: #009951;
  --green-700: #008043;
  --green-800: #02542d;
  --green-900: #024023;
  --pink-100: #fcf1fd;
  --pink-1000: #3f1536;
  --pink-200: #fae1fa;
  --pink-300: #f5c0ef;
  --pink-400: #f19edc;
  --pink-500: #ea3fb8;
  --pink-600: #d732a8;
  --pink-700: #ba2a92;
  --pink-800: #8a226f;
  --pink-900: #57184a;
  --red-100: #fee9e7;
  --red-1000: #300603;
  --red-200: #fdd3d0;
  --red-300: #fcb3ad;
  --red-400: #f4776a;
  --red-500: #ec221f;
  --red-600: #c00f0c;
  --red-700: #900b09;
  --red-800: #690807;
  --red-900: #4d0b0a;
  --slate-100: #f3f3f3;
  --slate-1000: #242424;
  --slate-200: #e3e3e3;
  --slate-300: #cdcdcd;
  --slate-400: #b2b2b2;
  --slate-500: #949494;
  --slate-600: #767676;
  --slate-700: #5a5a5a;
  --slate-800: #434343;
  --slate-900: #303030;
  --white-100: #ffffff0d;
  --white-1000: #ffffff;
  --white-200: #ffffff1a;
  --white-300: #ffffff33;
  --white-400: #ffffff66;
  --white-500: #ffffffb2;
  --white-600: #ffffffcc;
  --white-700: #ffffffd9;
  --white-800: #ffffffe5;
  --white-900: #fffffff2;
  --yellow-100: #fffbeb;
  --yellow-1000: #401b01;
  --yellow-200: #fff1c2;
  --yellow-300: #ffe8a3;
  --yellow-400: #e8b931;
  --yellow-500: #e5a000;
  --yellow-600: #bf6a02;
  --yellow-700: #975102;
  --yellow-800: #682d03;
  --yellow-900: #522504;
}
/* Color */
:root {
  /* SDS Light */
  /* color */
  --background-brand-default: var(--brand-surface);
  --background-brand-hover: var(--brand-900);
  --background-brand-secondary: var(--brand-background);
  --background-brand-secondary-hover: var(--brand-300);
  --background-brand-tertiary: var(--brand-surface-variant);
  --background-brand-tertiary-hover: var(--brand-200);
  --background-danger-default: var(--red-500);
  --background-danger-hover: var(--red-600);
  --background-danger-secondary: var(--red-200);
  --background-danger-secondary-hover: var(--red-300);
  --background-danger-tertiary: var(--red-100);
  --background-danger-tertiary-hover: var(--red-200);
  --background-default-default: var(--white-1000);
  --background-default-default-hover: var(--gray-100);
  --background-default-secondary: var(--gray-100);
  --background-default-secondary-hover: var(--gray-200);
  --background-default-tertiary: var(--gray-300);
  --background-default-tertiary-hover: var(--gray-400);
  --background-disabled-default: var(--brand-300);
  --background-neutral-default: var(--slate-700);
  --background-neutral-hover: var(--slate-800);
  --background-neutral-secondary: var(--slate-300);
  --background-neutral-secondary-hover: var(--slate-400);
  --background-neutral-tertiary: var(--slate-200);
  --background-neutral-tertiary-hover: var(--slate-300);
  --background-positive-default: var(--green-500);
  --background-positive-hover: var(--green-600);
  --background-positive-secondary: var(--green-200);
  --background-positive-secondary-hover: var(--green-300);
  --background-positive-tertiary: var(--green-100);
  --background-positive-tertiary-hover: var(--green-200);
  --background-utilities-blanket: #000000b2;
  --background-utilities-measurement: var(--pink-200);
  --background-utilities-overlay: #00000080;
  --background-utilities-scrim: #ffffffcc;
  --background-warning-default: var(--yellow-400);
  --background-warning-hover: var(--yellow-500);
  --background-warning-secondary: var(--yellow-200);
  --background-warning-secondary-hover: var(--yellow-300);
  --background-warning-tertiary: var(--yellow-100);
  --background-warning-tertiary-hover: var(--yellow-200);
  --border-brand-default: var(--brand-outline);
  --border-brand-secondary: var(--brand-outline-variant);
  --border-brand-tertiary: var(--brand-500);
  --border-danger-default: var(--red-700);
  --border-danger-secondary: var(--red-600);
  --border-danger-tertiary: var(--red-500);
  --border-default-default: var(--gray-300);
  --border-default-secondary: var(--gray-500);
  --border-default-tertiary: var(--gray-700);
  --border-disabled-default: var(--brand-400);
  --border-neutral-default: var(--slate-900);
  --border-neutral-secondary: var(--slate-600);
  --border-neutral-tertiary: var(--slate-400);
  --border-positive-default: var(--green-800);
  --border-positive-secondary: var(--green-600);
  --border-positive-tertiary: var(--green-500);
  --border-utilities-measurement: var(--pink-400);
  --border-utilities-swatch: #0000003d;
  --border-warning-default: var(--yellow-900);
  --border-warning-secondary: var(--yellow-700);
  --border-warning-tertiary: var(--yellow-600);
  --icon-brand-default: var(--brand-800);
  --icon-brand-on-brand: var(--brand-100);
  --icon-brand-on-brand-secondary: var(--brand-900);
  --icon-brand-on-brand-tertiary: var(--brand-800);
  --icon-brand-secondary: var(--brand-600);
  --icon-brand-tertiary: var(--brand-500);
  --icon-danger-default: var(--red-700);
  --icon-danger-on-danger: var(--red-100);
  --icon-danger-on-danger-secondary: var(--red-700);
  --icon-danger-on-danger-tertiary: var(--red-700);
  --icon-danger-secondary: var(--red-600);
  --icon-danger-tertiary: var(--red-500);
  --icon-default-default: var(--gray-900);
  --icon-default-secondary: var(--gray-500);
  --icon-default-tertiary: var(--gray-400);
  --icon-disabled-default: var(--brand-400);
  --icon-disabled-on-disabled: var(--brand-400);
  --icon-neutral-default: var(--slate-900);
  --icon-neutral-on-neutral: var(--slate-100);
  --icon-neutral-on-neutral-secondary: var(--slate-900);
  --icon-neutral-on-neutral-tertiary: var(--slate-800);
  --icon-neutral-secondary: var(--slate-700);
  --icon-neutral-tertiary: var(--slate-600);
  --icon-positive-default: var(--green-800);
  --icon-positive-on-positive: var(--green-100);
  --icon-positive-on-positive-secondary: var(--green-800);
  --icon-positive-on-positive-tertiary: var(--green-900);
  --icon-positive-secondary: var(--green-600);
  --icon-positive-tertiary: var(--green-500);
  --icon-utilities-icon: var(--pink-600);
  --icon-utilities-icon-on-measurement: var(--pink-800);
  --icon-warning-default: var(--yellow-900);
  --icon-warning-on-warning: var(--yellow-1000);
  --icon-warning-on-warning-secondary: var(--yellow-800);
  --icon-warning-on-warning-tertiary: var(--yellow-900);
  --icon-warning-secondary: var(--yellow-700);
  --icon-warning-tertiary: var(--yellow-600);
  --text-brand-default: var(--brand-on-surface);
  --text-brand-on-brand: var(--brand-on-primary);
  --text-brand-on-brand-secondary: var(--brand-on-secondary);
  --text-brand-on-brand-tertiary: var(--brand-on-secondary-container);
  --text-brand-secondary: var(--brand-on-background);
  --text-brand-tertiary: var(--brand-on-surface-variant);
  --text-danger-default: var(--red-700);
  --text-danger-on-danger: var(--red-100);
  --text-danger-on-danger-secondary: var(--red-700);
  --text-danger-on-danger-tertiary: var(--red-700);
  --text-danger-secondary: var(--red-600);
  --text-danger-tertiary: var(--red-500);
  --text-default-default: var(--gray-900);
  --text-default-secondary: var(--gray-500);
  --text-default-tertiary: var(--gray-400);
  --text-disabled-default: var(--brand-400);
  --text-disabled-on-disabled: var(--brand-400);
  --text-neutral-default: var(--slate-900);
  --text-neutral-on-neutral: var(--slate-100);
  --text-neutral-on-neutral-secondary: var(--slate-900);
  --text-neutral-on-neutral-tertiary: var(--slate-800);
  --text-neutral-secondary: var(--slate-700);
  --text-neutral-tertiary: var(--slate-600);
  --text-positive-default: var(--green-800);
  --text-positive-on-positive: var(--green-100);
  --text-positive-on-positive-secondary: var(--green-800);
  --text-positive-on-positive-tertiary: var(--green-800);
  --text-positive-secondary: var(--green-600);
  --text-positive-tertiary: var(--green-500);
  --text-utilities-text-on-measurement: var(--pink-800);
  --text-utilities-text-on-overlay: var(--black-1000);
  --text-warning-default: var(--yellow-900);
  --text-warning-on-warning: var(--yellow-1000);
  --text-warning-on-warning-secondary: var(--yellow-800);
  --text-warning-on-warning-tertiary: var(--yellow-900);
  --text-warning-secondary: var(--yellow-700);
  --text-warning-tertiary: var(--yellow-600);
  /* SDS Dark */
  /* color */
  --background-brand-default: var(--brand-100);
  --background-brand-hover: var(--brand-300);
  --background-brand-secondary: var(--brand-600);
  --background-brand-secondary-hover: var(--brand-500);
  --background-brand-tertiary: var(--brand-600);
  --background-brand-tertiary-hover: var(--brand-800);
  --background-danger-default: var(--red-600);
  --background-danger-hover: var(--red-700);
  --background-danger-secondary: var(--red-800);
  --background-danger-secondary-hover: var(--red-900);
  --background-danger-tertiary: var(--red-900);
  --background-danger-tertiary-hover: var(--red-1000);
  --background-default-default: var(--gray-900);
  --background-default-default-hover: var(--gray-700);
  --background-default-secondary: var(--gray-800);
  --background-default-secondary-hover: var(--gray-900);
  --background-default-tertiary: var(--gray-600);
  --background-default-tertiary-hover: var(--gray-700);
  --background-disabled-default: var(--brand-700);
  --background-neutral-default: var(--slate-400);
  --background-neutral-hover: var(--slate-500);
  --background-neutral-secondary: var(--slate-900);
  --background-neutral-secondary-hover: var(--slate-1000);
  --background-neutral-tertiary: var(--slate-900);
  --background-neutral-tertiary-hover: var(--slate-1000);
  --background-positive-default: var(--green-700);
  --background-positive-hover: var(--green-800);
  --background-positive-secondary: var(--green-800);
  --background-positive-secondary-hover: var(--green-900);
  --background-positive-tertiary: var(--green-900);
  --background-positive-tertiary-hover: var(--green-1000);
  --background-utilities-blanket: #000000b2;
  --background-utilities-measurement: var(--pink-800);
  --background-utilities-overlay: #00000080;
  --background-utilities-scrim: #000000cc;
  --background-warning-default: var(--yellow-400);
  --background-warning-hover: var(--yellow-500);
  --background-warning-secondary: var(--yellow-800);
  --background-warning-secondary-hover: var(--yellow-900);
  --background-warning-tertiary: var(--yellow-900);
  --background-warning-tertiary-hover: var(--yellow-1000);
  --border-brand-default: var(--brand-100);
  --border-brand-secondary: var(--brand-300);
  --border-brand-tertiary: var(--brand-400);
  --border-danger-default: var(--red-200);
  --border-danger-secondary: var(--red-400);
  --border-danger-tertiary: var(--red-500);
  --border-default-default: var(--gray-600);
  --border-default-secondary: var(--gray-500);
  --border-default-tertiary: var(--gray-400);
  --border-disabled-default: var(--brand-600);
  --border-neutral-default: var(--slate-100);
  --border-neutral-secondary: var(--slate-500);
  --border-neutral-tertiary: var(--slate-600);
  --border-positive-default: var(--green-200);
  --border-positive-secondary: var(--green-400);
  --border-positive-tertiary: var(--green-600);
  --border-utilities-measurement: var(--pink-600);
  --border-utilities-swatch: #ffffff3d;
  --border-warning-default: var(--yellow-200);
  --border-warning-secondary: var(--yellow-400);
  --border-warning-tertiary: var(--yellow-600);
  --icon-brand-default: var(--brand-100);
  --icon-brand-on-brand: var(--brand-900);
  --icon-brand-on-brand-secondary: var(--brand-100);
  --icon-brand-on-brand-tertiary: var(--brand-100);
  --icon-brand-secondary: var(--brand-300);
  --icon-brand-tertiary: var(--brand-400);
  --icon-danger-default: var(--red-200);
  --icon-danger-on-danger: var(--red-100);
  --icon-danger-on-danger-secondary: var(--red-100);
  --icon-danger-on-danger-tertiary: var(--red-100);
  --icon-danger-secondary: var(--red-400);
  --icon-danger-tertiary: var(--red-500);
  --icon-default-default: var(--white-1000);
  --icon-default-secondary: var(--white-500);
  --icon-default-tertiary: var(--white-400);
  --icon-disabled-default: var(--brand-500);
  --icon-disabled-on-disabled: var(--brand-400);
  --icon-neutral-default: var(--slate-200);
  --icon-neutral-on-neutral: var(--slate-1000);
  --icon-neutral-on-neutral-secondary: var(--slate-100);
  --icon-neutral-on-neutral-tertiary: var(--slate-100);
  --icon-neutral-secondary: var(--slate-300);
  --icon-neutral-tertiary: var(--slate-400);
  --icon-positive-default: var(--green-200);
  --icon-positive-on-positive: var(--green-100);
  --icon-positive-on-positive-secondary: var(--green-100);
  --icon-positive-on-positive-tertiary: var(--green-100);
  --icon-positive-secondary: var(--green-400);
  --icon-positive-tertiary: var(--green-600);
  --icon-utilities-icon: var(--pink-400);
  --icon-utilities-icon-on-measurement: var(--pink-200);
  --icon-warning-default: var(--yellow-200);
  --icon-warning-on-warning: var(--yellow-1000);
  --icon-warning-on-warning-secondary: var(--yellow-100);
  --icon-warning-on-warning-tertiary: var(--yellow-100);
  --icon-warning-secondary: var(--yellow-400);
  --icon-warning-tertiary: var(--yellow-600);
  --text-brand-default: var(--brand-100);
  --text-brand-on-brand: var(--brand-900);
  --text-brand-on-brand-secondary: var(--brand-100);
  --text-brand-on-brand-tertiary: var(--brand-100);
  --text-brand-secondary: var(--brand-300);
  --text-brand-tertiary: var(--brand-400);
  --text-danger-default: var(--red-200);
  --text-danger-on-danger: var(--red-100);
  --text-danger-on-danger-secondary: var(--red-100);
  --text-danger-on-danger-tertiary: var(--red-100);
  --text-danger-secondary: var(--red-400);
  --text-danger-tertiary: var(--red-500);
  --text-default-default: var(--white-1000);
  --text-default-secondary: var(--white-500);
  --text-default-tertiary: var(--white-400);
  --text-disabled-default: var(--brand-500);
  --text-disabled-on-disabled: var(--brand-400);
  --text-neutral-default: var(--slate-200);
  --text-neutral-on-neutral: var(--slate-1000);
  --text-neutral-on-neutral-secondary: var(--slate-100);
  --text-neutral-on-neutral-tertiary: var(--slate-100);
  --text-neutral-secondary: var(--slate-300);
  --text-neutral-tertiary: var(--slate-400);
  --text-positive-default: var(--green-200);
  --text-positive-on-positive: var(--green-100);
  --text-positive-on-positive-secondary: var(--green-100);
  --text-positive-on-positive-tertiary: var(--green-100);
  --text-positive-secondary: var(--green-400);
  --text-positive-tertiary: var(--green-600);
  --text-utilities-text-on-measurement: var(--pink-200);
  --text-utilities-text-on-overlay: var(--white-1000);
  --text-warning-default: var(--yellow-200);
  --text-warning-on-warning: var(--yellow-1000);
  --text-warning-on-warning-secondary: var(--yellow-100);
  --text-warning-on-warning-tertiary: var(--yellow-100);
  --text-warning-secondary: var(--yellow-400);
  --text-warning-tertiary: var(--yellow-600);
}
/* Typography Primitives */
:root {
  /* Default */
  /* number */
  --scale-01: 0.75rem;
  --scale-02: 0.875rem;
  --scale-03: 1rem;
  --scale-04: 1.25rem;
  --scale-05: 1.5rem;
  --scale-06: 2rem;
  --scale-07: 2.5rem;
  --scale-08: 3rem;
  --scale-09: 4rem;
  --scale-10: 4.5rem;
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
  /* string */
  --family-mono: Roboto Mono;
  --family-sans: Inter;
  --family-serif: Noto Serif;
  --weight-black-italic: Black Italic;
  --weight-bold-italic: Bold Italic;
  --weight-extra-bold-italic: Extra Bold Italic;
  --weight-extralight-italic: Extra Light Italic;
  --weight-light-italic: Light Italic;
  --weight-medium-italic: Medium Italic;
  --weight-regular-italic: Italic;
  --weight-semibold-italic: Semi Bold Italic;
  --weight-thin-italic: Thin Italic;
}
/* Responsive */
:root {
  /* Desktop */
  /* number */
  --scale: 0.0625rem;
  --root-font-size: var(--scale-03);
  --device-width: 75rem;
  /* string */
  --device: desktop;
  /* Mobile */
  /* number */
  --scale: 0.078125rem;
  --root-font-size: var(--scale-03);
  --device-width: 23.4375rem;
  /* string */
  --device: mobile;
  /* Tablet */
  /* number */
  --scale: 0.0625rem;
  --root-font-size: var(--scale-03);
  --device-width: 48rem;
  /* string */
  --device: tablet;
}
/* Size */
:root {
  /* Default */
  /* number */
  --blur-100: 0.25rem;
  --depth-negative-1200: -3rem;
  --depth-negative-800: -2rem;
  --depth-negative-400: -1rem;
  --depth-negative-200: -0.5rem;
  --depth-negative-100: -0.25rem;
  --depth-negative-025: -0.0625rem;
  --depth-0: 0rem;
  --depth-025: 0.0625rem;
  --depth-100: 0.25rem;
  --depth-200: 0.5rem;
  --depth-400: 1rem;
  --depth-800: 2rem;
  --depth-1200: 3rem;
  --icon-small: 1.5rem;
  --icon-medium: 2rem;
  --icon-large: 2.5rem;
  --radius-100: 0.25rem;
  --radius-200: 0.5rem;
  --radius-400: 1rem;
  --radius-full: 624.9375rem;
  --space-negative-600: -1.5rem;
  --space-negative-400: -1rem;
  --space-negative-300: -0.75rem;
  --space-negative-200: -0.5rem;
  --space-negative-100: -0.25rem;
  --space-0: 0rem;
  --space-050: 0.125rem;
  --space-100: 0.25rem;
  --space-150: 0.375rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-600: 1.5rem;
  --space-800: 2rem;
  --space-1200: 3rem;
  --space-1600: 4rem;
  --space-2400: 6rem;
  --space-4000: 10rem;
  --stroke-border: 0.0625rem;
  --stroke-focus-ring: 0.125rem;
}
/* Typography */
:root {
  /* Mode 1 */
  /* number */
  --body-size-small: var(--scale-02);
  --body-size-medium: var(--scale-03);
  --body-size-large: var(--scale-04);
  --body-font-weight-regular: var(--weight-regular);
  --body-font-weight-strong: var(--weight-semibold);
  --code-size-small: var(--body-size-small);
  --code-size-base: var(--body-size-medium);
  --code-size-large: var(--body-size-large);
  --code-font-weight: var(--body-font-weight-regular);
  --heading-size-small: var(--scale-04);
  --heading-size-base: var(--scale-05);
  --heading-size-large: var(--scale-06);
  --heading-font-weight: var(--weight-semibold);
  --subheading-size-small: var(--scale-03);
  --subheading-size-medium: var(--scale-04);
  --subheading-size-large: var(--scale-05);
  --subheading-font-weight: var(--weight-regular);
  --subtitle-size-small: var(--scale-05);
  --subtitle-size-base: var(--scale-06);
  --subtitle-size-large: var(--scale-07);
  --subtitle-font-weight: var(--weight-regular);
  --title-hero-size: var(--scale-10);
  --title-hero-font-weight: var(--weight-bold);
  --title-page-size-small: var(--scale-07);
  --title-page-size-base: var(--scale-08);
  --title-page-size-large: var(--scale-09);
  --title-page-font-weight: var(--weight-bold);
  /* string */
  --body-font-family: var(--family-sans);
  --body-font-style-italic: var(--weight-regular-italic);
  --code-font-family: var(--family-mono);
  --heading-font-family: var(--family-sans);
  --subheading-font-family: var(--family-sans);
  --subtitle-font-family: var(--family-sans);
  --title-hero-font-family: var(--family-sans);
  --title-page-font-family: var(--family-sans);
}